$body_color: #F6F6F6;
$white: #FFFFFF;
$black: #3B3B3B;
$gray: #EFEEEE;
$dark_gray: #9A9A9A;
$blue: #9049E1;
$red: #dc3545;


body {
    background-color: $body_color;
}

.heading {
    font-weight: 700;
    opacity: 0.7;
}

.nav {
    background-color: $gray;

    ul {
        text-decoration: none;
        list-style-type: none;
        color: $black;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 10em;

        li {
            color: inherit;

            a {
                color: inherit;
                padding: 8px;
            }
        }
    }

    @media (max-width: 770px) {
        ul {
            margin-left: 5em;
        }
    }
}

.hero {
    //    height: 78vh;
    background-color: $white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6em;

    .left-box {
        .hero-text {
            box-shadow: -18px 18px 5px $dark_gray;
            margin-top: 8em;
            margin-left: 3em;
            padding: 25px 25px;
            //            border: 1px solid $black;
        }



        h1 {
            font-weight: 800;
        }

        p {
            line-height: 22px;
        }
    }

    .right-box {
        .hero-img {
            margin-top: 5em;
            margin-left: 8em;

            button {
                width: 200px;
                background-color: $black;
                color: $white;
                padding: 5px 0px;
                font-weight: 500;

                &:hover {
                    opacity: 0.9;
                }
            }

            .personalize {
                margin-top: 10px;
                text-align: center;
                font-weight: 500;

                p {
                    margin-bottom: 5px;
                    opacity: 0.9;
                }

                .theme-selection {
                    .circle {
                        width: 25px;
                        height: 25px;
                        border: 1px solid $black;
                        border-radius: 100%;
                        margin: 3px;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.8;
                            transform: scale(1.2)
                        }
                    }

                    .white {
                        background-color: $white;
                    }

                    .dark {
                        background-color: $black;
                    }

                    .blue {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}

//about section
#about-section {
    //    margin-top: 10px;
    padding-top: 4em;
    padding-bottom: 4em;

    .about-section {
        //        height: 95vh;

        .hr {
            width: 95%;
            //            height: 5px;
            border-top: 1px solid $black;
            opacity: 0.2;
            margin-left: 15px;
            margin-top: 5px;
            margin-bottom: 8px;
        }

        .about-text,
        .about-expertise {
            h2 {
                margin-bottom: 25px;
                font-weight: 700;
            }

            p {
                line-height: 18px;
                font-size: 14px;
            }
        }

        .about-expertise {
            ul {
                //                padding-left: 15px;
            }

            .expertise-items {
                p {
                    font-weight: 500;
                    font-size: 14px;
                }

                //                .progress-bg {
                //                    //                    margin-left: 15px;
                //                    height: 14px;
                //                    width: 250px;
                //                    background-color: $white;
                //                    border: 1px solid $dark-gray;
                //                    border-radius: 50px;
                //
                //                    .progress-fore {
                //                        height: 12px;
                //                        background-color: $dark-gray;
                //                        width: 150px;
                //                        border-radius: 50px;
                //                    }
                //                }
            }
        }

        .about-img {
            .img {
                background-image: url("../img/laptop.png");
                height: 90%;
                background-repeat: no-repeat;
                background-position: contain;
                opacity: 0.8;
            }

            h3 {
                background-color: $dark_gray;
                font-weight: 700;
                color: $white;
            }
        }
    }
}

//project-section
#projects {
    //    height: 100vh;
    background-color: $white;
    padding-top: 4em;
    padding-bottom: 4em;

    .heading {
        //        padding-top: 35px;
        margin-bottom: 2em;

        h2 {
            font-weight: 700;
        }
    }

    .project-container {
        //        height: 90%;

        .project-section {
            height: inherit;
            padding: 0px 15px;

            .item-spacing {
                padding-bottom: 25px;

                @media(min-width: 770px) {
                    &:hover {
                        transform: translate(0px, -10px)
                    }
                }

                .project {
                    //                padding-bottom: 30px;

                    &:hover {
                        box-shadow:
                            0 2.8px 10.2px rgba(0, 0, 0, 0.034),
                            0 6.7px 10.3px rgba(0, 0, 0, 0.048),
                            0 12.5px 25px rgba(0, 0, 0, 0.06),
                            0 -2.8px 10.2px rgba(0, 0, 0, 0.034),
                            0 -6.7px 10.3px rgba(0, 0, 0, 0.048);
                    }

                    //            border: 1px solid black;

                    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 -6.7px 5.3px rgba(0, 0, 0, 0.048);

                    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
                    .img {

                        width: inherit;
                        height: 300px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        //                    background-position: 0 0;
                    }

                    @media (max-width: 990px) {
                        .img {
                            height: 250px;
                        }
                    }

                    .project-text {
                        background-color: $gray;

                        h3 {
                            font-size: 16px;
                            padding: 0px;
                            margin: 0px;
                            font-weight: 700;
                        }

                        p {
                            padding: 0px;
                            margin: 0px;
                            font-size: 12px;
                            line-height: 15px;
                        }

                        a {
                            font-weight: 500;
                            font-size: 14px;

                        }

                        h3,
                        p,
                        a {
                            padding-left: 5px;
                        }
                    }
                }
            }

        }
    }
}


#contact {
    .heading {
        //        padding-top: 35px;
        //        margin-bottom: 2em;
        margin-top: 2em;
        margin-bottom: 2em;

        h2 {
            font-weight: 700;
        }
    }

    .contact-container {
        .frm-group {
            padding-bottom: 1.2em;

            .input-label {
                font-weight: 600;
                margin-bottom: 2px;
                margin-left: 5px;
                text-transform: capitalize;
            }

            .input {
                outline-color: $dark_gray;
                border: 2px solid $dark_gray;
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 380px;
                height: 35px;
            }

            .text-area {
                outline-color: $dark_gray;
                border: 2px solid $dark_gray;
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .frm-btn {
                text-transform: capitalize;
                background-color: $black;
                color: $white;
                border-radius: 5px;
                font-weight: 600;

                &:hover {
                    transform: scale(0.99);
                    opacity: 0.9;


                }

            }
        }

        .frm-group:nth-last-child(2) {
            padding-bottom: 5px;
        }


    }
}

#footer {
    .main {
        background-color: $gray;

        .footer-main-links {
            padding-top: 2em;
            padding-left: 1.5em;

            h4 {
                font-size: 16px;
                font-weight: 700;
            }

            ul {
                list-style-type: none;
                text-decoration: none;
                padding: 0px;

                li {
                    padding: 0px;
                    margin: 0px;
                    line-height: 16px;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-size: 12px;
                        padding: inherit;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .secondary {
        background-color: $dark_gray;

        .credits {
            padding-left: 1.5em;
            padding-top: 5px;
            padding-bottom: 5px;

            p {
                margin: 0px;

                small {
                    font-weight: 600;
                }
            }
        }
    }
}

#modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    #modal {
        border-radius: 5px;
        //        border: 2px solid $red;
        width: 400px;
        height: 180px;
        position: relative;
        background-color: $white;
        top: 5%;
        left: 30%;
    }
}
