body {
  background-color: #F6F6F6;
}

.heading {
  font-weight: 700;
  opacity: 0.7;
}

.nav {
  background-color: #EFEEEE;
}
.nav ul {
  text-decoration: none;
  list-style-type: none;
  color: #3B3B3B;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10em;
}
.nav ul li {
  color: inherit;
}
.nav ul li a {
  color: inherit;
  padding: 8px;
}

.hero {
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 6em;
}
.hero .left-box .hero-text {
  box-shadow: -18px 18px 5px #9A9A9A;
  margin-top: 8em;
  margin-left: 3em;
  padding: 25px 25px;
}
.hero .left-box h1 {
  font-weight: 800;
}
.hero .left-box p {
  line-height: 22px;
}
.hero .right-box .hero-img {
  margin-top: 5em;
  margin-left: 8em;
}
.hero .right-box .hero-img button {
  width: 200px;
  background-color: #3B3B3B;
  color: #FFFFFF;
  padding: 5px 0px;
  font-weight: 500;
}
.hero .right-box .hero-img button:hover {
  opacity: 0.9;
}
.hero .right-box .hero-img .personalize {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}
.hero .right-box .hero-img .personalize p {
  margin-bottom: 5px;
  opacity: 0.9;
}
.hero .right-box .hero-img .personalize .theme-selection .circle {
  width: 25px;
  height: 25px;
  border: 1px solid #3B3B3B;
  border-radius: 100%;
  margin: 3px;
}
.hero .right-box .hero-img .personalize .theme-selection .circle:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.2);
}
.hero .right-box .hero-img .personalize .theme-selection .white {
  background-color: #FFFFFF;
}
.hero .right-box .hero-img .personalize .theme-selection .dark {
  background-color: #3B3B3B;
}
.hero .right-box .hero-img .personalize .theme-selection .blue {
  background-color: #9049E1;
}

#about-section {
  padding-top: 4em;
  padding-bottom: 4em;
}
#about-section .about-section .hr {
  width: 95%;
  border-top: 1px solid #3B3B3B;
  opacity: 0.2;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 8px;
}
#about-section .about-section .about-text h2,
#about-section .about-section .about-expertise h2 {
  margin-bottom: 25px;
}
#about-section .about-section .about-text p,
#about-section .about-section .about-expertise p {
  line-height: 18px;
  font-size: 14px;
}
#about-section .about-section .about-expertise .expertise-item p {
  font-weight: 500;
  font-size: 14px;
}
#about-section .about-section .about-expertise .expertise-item .progress-bg {
  height: 14px;
  width: 250px;
  background-color: #FFFFFF;
  border: 1px solid #9A9A9A;
  border-radius: 50px;
}
#about-section .about-section .about-expertise .expertise-item .progress-bg .progress-fore {
  height: 12px;
  background-color: #9A9A9A;
  width: 150px;
  border-radius: 50px;
}
#about-section .about-section .about-img .img {
  background-image: url("../img/laptop.png");
  height: 90%;
  background-repeat: no-repeat;
  background-position: contain;
  opacity: 0.8;
}
#about-section .about-section .about-img h3 {
  background-color: #9A9A9A;
  font-weight: 700;
  color: #FFFFFF;
}

#projects {
  background-color: #FFFFFF;
  padding-top: 4em;
  padding-bottom: 4em;
}
#projects .heading {
  margin-bottom: 2em;
}
#projects .heading h2 {
  font-weight: 700;
}
#projects .project-container {
  height: 90%;
}
#projects .project-container .project-section {
  height: inherit;
  padding: 0px 15px;
}
#projects .project-container .project-section .project {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 -2.8px 2.2px rgba(0, 0, 0, 0.034), 0 -6.7px 5.3px rgba(0, 0, 0, 0.048);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#projects .project-container .project-section .project:hover {
  box-shadow: 0 2.8px 10.2px rgba(0, 0, 0, 0.034), 0 6.7px 10.3px rgba(0, 0, 0, 0.048), 0 12.5px 25px rgba(0, 0, 0, 0.06), 0 -2.8px 10.2px rgba(0, 0, 0, 0.034), 0 -6.7px 10.3px rgba(0, 0, 0, 0.048);
}
#projects .project-container .project-section .project .img {
  width: inherit;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: cover;
  background-position: 0 0;
}
#projects .project-container .project-section .project .project-text {
  background-color: #EFEEEE;
}
#projects .project-container .project-section .project .project-text h3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}
#projects .project-container .project-section .project .project-text p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 15px;
}
#projects .project-container .project-section .project .project-text a {
  font-weight: 500;
  font-size: 14px;
}
#projects .project-container .project-section .project .project-text h3,
#projects .project-container .project-section .project .project-text p,
#projects .project-container .project-section .project .project-text a {
  padding-left: 5px;
}

#contact .heading {
  margin-top: 2em;
  margin-bottom: 2em;
}
#contact .heading h2 {
  font-weight: 700;
}
#contact .contact-container .frm-group {
  padding-bottom: 1.2em;
}
#contact .contact-container .frm-group .input-label {
  font-weight: 600;
  margin-bottom: 2px;
  margin-left: 5px;
  text-transform: capitalize;
}
#contact .contact-container .frm-group .input {
  outline-color: #9A9A9A;
  border: 2px solid #9A9A9A;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 380px;
  height: 35px;
}
#contact .contact-container .frm-group .text-area {
  outline-color: #9A9A9A;
  border: 2px solid #9A9A9A;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#contact .contact-container .frm-group .frm-btn {
  text-transform: capitalize;
  background-color: #3B3B3B;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 600;
}
#contact .contact-container .frm-group .frm-btn:hover {
  transform: scale(0.99);
  opacity: 0.9;
}
#contact .contact-container .frm-group:nth-last-child(2) {
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
